
body {
	@font-face {
   	font-family: BebasNeue;
   	src: url("../font/TTF's/BebasNeue_Bold.ttf");
	}
   font-family: BebasNeue;
    margin:0;
    font-size: 22px;
	background-image:url(background.jpg);
	background-size:cover;
	
	color:#FCF8E3;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}       

#bid {
	padding-top:50px;
}

.col-xs-4 {
	text-align:center;
	margin-top:20px;
}

.row{
	width:100%;
}

.bigtext {
	font-size:40px;
}

#infotext{
	margin-left:30px;
	font-size:50px;
	margin-top: 50px;
}

img.card {
    height:160px;
}

input {
    width:180px;
    height:25px;
    font-size:16px;
}

#slider {
	margin-left: auto; 
	margin-right: auto;
	width: 60%;
}

#panel {
	margin-top: 50px;
}


.button {
 border-top: 1px solid #96d1f8;

   padding: 9.5px 19px;
   -webkit-border-radius: 15px;
   font-size: 30px;
   font-family: BebasNeue;
    width:200px;
   height:60px;
	background-image:url("../img/button2.png");
	background-position:center;
   }
.sbutton{
	border-top: 1px solid #96d1f8;

   padding: 9.5px 19px;
   -webkit-border-radius: 15px;
   font-size: 30px;
   font-family: BebasNeue;
    width:200px;
   height:60px;
	background-image:url("../img/button.png");
}
   .logButton {
   
   font-size: 12px;
-webkit-border-radius: 4px;
   font-family: BebasNeue;
   height:25px;
   background-image:url("../img/button3.png");
	background-position:center;
   }


#gameResult {
    font-size:35px;
}
        
#first {
	height:190px;
}

#second {
	height: 240px;
}
        
.refillButton {
      font-size: 12px;
-webkit-border-radius: 4px;
   font-family: BebasNeue;
   height:25px;
   background-image:url("../img/button3.png");
	background-position:center;
   }
button:focus {
    outline: none;
}

.sendbutton {
  font-size: 16px;
-webkit-border-radius: 4px;
   font-family: BebasNeue;
   height:35px;
   background-image:url("../img/button3.png");
	background-position:center;
   }

   #start {
   margin-bottom: 20px;
   }
   
   